<script type="text/javascript">
    if (document.readyState !== 'loading') {
        setup();
    } else {
        document.addEventListener('DOMContentLoaded', setup);
    }

    function setup() {
        let spinner = document.querySelector('#spinner');
        let errorText = document.querySelector('#error');

        document.querySelector('#button_submit').addEventListener('click', function () {
            spinner.style.display = 'none';
            errorText.style.display = 'none';
            let url = document.querySelector('#input_url').value;
            let expression = /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})/g;
            let regex = new RegExp(expression);
            if (url.length < 1 || !url.match(regex)) {
                errorText.style.display = 'block';
                return errorText.textContent = 'failed checks';
            }

            spinner.style.display = 'block';
            let request = new XMLHttpRequest();
            request.open('GET', `/s?url=${url}`, true);
            request.onload = function () {
                if (request.status >= 200 && request.status < 400) {
                    return location.reload();
                }

                errorText.style.display = 'block';
                return errorText.textContent = `status ${request.status}`;
            };

            request.onerror = function (error) {
                spinner.style.display = 'none';
                errorText.style.display = 'block';
                return errorText.textContent = `status ${request.status}`;
            };

            request.send();
        });
    }


</script>
<input type="text" name="input_url" id="input_url" />
<button type="button" id="button_submit">Submit URL</button>
<img src="/img/spinner.gif" id="spinner" style="width:50px;height:50px;display:none" />
<span style="color:red" id="error"></span>
<p></p>

<table id="archives">
    {{#each archives}}
    <tr>
        <td>
            <img src={{this.favicon}} />
        </td>
        <td>
            {{this.title}}
        </td>
        <td>
            <a href={{this.url}}>original</a>
        </td>
        <td>
            <a href={{this.full}}>full</a>
            <a href="/d/{{this.id}}">[dl]</a>
        </td>
        <td>
            <a href={{this.dom}}>html</a>
        </td>
        <td>
            <a href={{this.pdf}}>pdf</a>
        </td>
        <td>
            <a href={{this.screenshot}}>screenshot</a>
        </td>
        </td>
        <td>
            <a href={{this.archiveorg}}>archive.org</a>
        </td>
        <td>{{timeago this.lastUpdated}}</td>
    </tr>
    {{/each}}
</table>