<table>
    {{#each archives}}
    <tr>
        <td>
            <img src={{this.favicon}} />
        </td>
        <td><a href={{this.url}}>{{this.title}}</a></td>
        <td>
            <a href={{this.dom}}>html</a>
        </td>
        <td>
            <a href={{this.pdf}}>pdf</a>
        </td>
        <td>
            <a href={{this.screenshot}}>screenshot</a>
        </td>
        </td>
        <td>
            <a href={{this.archiveorg}}>archive.org</a>
        </td>
        <td>{{timeago this.lastUpdated}}</td>
    </tr>
    {{/each}}
</table>